body{
	background-image: url("../images/background.jpg")
}

h3, span{
	font-weight: bold;
	text-align: center;
}
p{
	font-size: 24pt;
	padding: 2.5px;
}

h1 { 
	font-weight: bold;
    padding-top: 11px;
    font-size: 30px;
}

div{
	background-color: azure;
	margin: 10px;
}

h2 {
	width: 36%
}
.header{
	background-color: red;
	height: 50px;
	text-align: center;
}

.header, .main{
	width: 75%;
}


.pictures { 
	background-color: azure; 
	clear: both;
	width: 11%;
	min-width: 125px;
}

.CrystalImage{
	height: 60px;
	margin: 10px;
}

.Numberboard, .Scoreboard{
    float: left;
    width: 11%;
    height: 140px;
    min-width: 125px;
}
.Total{
	width: 15%;
	height: 60px;
}

#Numberboard {
	font-size: 14pt;
}

.playerScore {
	width: 11%;
	min-width: 125px;
}
